<div *ngIf="selectedEmploy">
  <mat-toolbar class="details-toolbar" color="primary">
    <span>Employ Details</span>
    <span class="example-spacer"></span>
    <span>{{ selectedEmploy.name }}&nbsp;(Employ ID - {{ selectedEmploy.id }})</span>
  </mat-toolbar>

  <div class="details">
    <label>Name</label>
    <input class="form-control form-control-lg" type="text" [(ngModel)]="selectedEmploy.name" placeholder="Name" value="{{ selectedEmploy.name }}">
    <label>Salary</label>
    <p class="salary"><span>$</span><input class="form-control form-control-lg" type="number"
       [(ngModel)]="selectedEmploy.salary" placeholder="Salary" value="{{ selectedEmploy.salary }}">
    </p>
    <app-employ-level [selectedEmploy]="selectedEmploy"></app-employ-level>
  </div>
</div>
<div class="changes" *ngIf="selectedEmploy">
  <button mat-raised-button class="save" title="Save changes" (click)="save()" style="background: green; color: white;">Save changes</button>
  <button mat-raised-button class="cancel" title="Cancel changes" (click)="cancel()" style="background: orange; color: white">Cancel</button>
</div>
